<div class="grid-container">
  <div class="grid-item"><h3>Recent items</h3></div>
  <div class="grid-item"><h3>Recommended</h3></div>
  <div class="grid-item"><h3>3</h3></div>
  <div class="grid-item"><h3>4</h3></div>
  <div class="grid-item"><h3>5</h3></div>
  <div class="grid-item"><h3>6</h3></div>
  <div class="grid-item"><h3>7</h3></div>
  <div class="grid-item"><h3>8</h3></div>
  <div class="grid-item"><h3>9</h3></div>
  <div class="grid-item"><h3>10</h3></div>
  <div class="grid-item"><h3>11</h3></div>
  <div class="grid-item"><h3>12</h3></div>
  <div class="grid-item"><h3>13</h3></div>
  <div class="grid-item"><h3>14</h3></div>
  <div class="grid-item"><h3>15</h3></div>
  <div class="grid-item"><h3>16</h3></div>
  <div class="grid-item"><h3>17</h3></div>
  <div class="grid-item"><h3>18</h3></div>
  <div class="grid-item"><h3>19</h3></div>
  <div class="grid-item"><h3>20</h3></div>
</div>
